name: complex
on: [push]
jobs:
  job1:
    name: PrintDateFirst
    runs-on: ubuntu-latest
    steps:
      - name: first step
        run: |
          now=$(date)
          echo "$now"
  job2:
    name: PrintDateSecond
    runs-on: windows-latest
    steps:
      - name: first step
        run: "Get-Date"
  job3:
    name: PrintDateThird
    runs-on: macos-latest
    steps:
      - name: first step
        run: date
  job4:
    name: PrintDateFourth
    runs-on: windows-latest
    needs: [job1, job2, job3]
    steps:
      - name: first step
        run: "Get-Date"
