	name: Test workflow
	on: [push, pull_request]
	jobs:
	  job_id_1:
	    name: Print hello world
	    runs-on: ubuntu-latest
	    steps:
	     - name: Print hello step
	       run:  Write-Output "hello"
	     - name: Print world step
	       run:  Write-Output "world"

	  job_id_2:
    	    name: Execute checkout action
	    runs-on: windows-latest
	    needs: [job_id_1]
	    steps:
	     - name: Checkout action
	       uses: actions/checkout@v3